body {
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.img-bkgrnd {
  width: 100%;
}

a {
  color: #00B7FF;
}

.city-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  opacity: 0.70;
}

.logo {
  background-color: grey;
  position: absolute;
  margin: 0 auto;
  width: 37%;
  width: 100%;
}
.logo img {
  width: 445px;
}

/*This is for the contact form that Brandi is styling*/

label {
  display: block;
}

/*Admin table styles*/
table {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}

.table-container {
  background-color: #FCFCFC
}