
/*----------------BODY-----------------*/
body {

  font: 14px "Calibri", Helvetica, Arial, sans-serif;


}

.img-bkgrnd {
  width: 100%;
  height: 100%;
}

a {
  color: #00B7FF;
}
/*---------------------IMAGES------------------------*/
.city-img {
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
  opacity: 0.90;
  z-index: -9999;
}

.logo {
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(left,  #000000 0%, #d6d6d6 23%, #c9c9c9 74%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #000000 0%,#d6d6d6 23%,#c9c9c9 74%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #000000 0%,#d6d6d6 23%,#c9c9c9 74%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
  position: relative;
  text-align: center;
  width: 37%;
  width: 100%;
  z-index: 1000;
}
.logo img {
  width: 445px;
}

/*----------------Sidebar Menu-----------------*/

body,html{
  height: 100%;
}

/* remove outer padding */
.main .row{
  padding: 0px;
  margin: 0px;
}

/*Remove rounded coners*/

nav.sidebar.navbar {
  border-radius: 0px;
}

nav.sidebar, .main{
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
.main{
  padding: 10px 10px 0 10px;
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {

  /*Allow main to be next to Nav*/
  .main{
    position: absolute;
    width: calc(100% - 40px); /*keeps 100% minus nav size*/
    margin-left: 40px;
    float: right;
  }

  /*lets nav bar to be showed on mouseover*/
  nav.sidebar:hover + .main{
    margin-left: 200px;
  }

  /*Center Brand*/
  nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
  }
  /*Center Brand*/
  nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }

  /*Center Icons*/
  nav.sidebar a{
    padding-right: 13px;
  }

  /*adds border top to first nav box */
  nav.sidebar .navbar-nav > li:first-child{
    border-top: 1px #e5e5e5 solid;
  }

  /*adds border to bottom nav boxes*/
  nav.sidebar .navbar-nav > li{
    border-bottom: 1px #e5e5e5 solid;
  }

  /* Colors/style dropdown box*/
  nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /*allows nav box to use 100% width*/
  nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
    padding: 0 0px 0 0px;
  }

  /*colors dropdown box text */
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
  }

  /*gives sidebar width/height*/
  nav.sidebar{
    width: 200px;
    height: 100%;
    margin-left: -160px;
    float: left;
    z-index: 8000;
    margin-bottom: 0px;
  }

  /*give sidebar 100% width;*/
  nav.sidebar li {
    width: 100%;
  }

  /* Move nav to full on mouse over*/
  nav.sidebar:hover{
    margin-left: 0px;
  }
  /*for hiden things when navbar hidden*/
  .forAnimate{
    opacity: 0;
  }
}

/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {

  /*Allow main to be next to Nav*/
  .main{
    width: calc(100% - 200px); /*keeps 100% minus nav size*/
    margin-left: 200px;
  }

  /*Show all nav*/
  nav.sidebar{
    margin-left: 0px;
    float: left;
  }
  /*Show hidden items on nav*/
  nav.sidebar .forAnimate{
    opacity: 1;
  }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #CCC;
  background-color: transparent;
}

nav:hover .forAnimate{
  opacity: 1;
}
/*This is for the contact form that Brandi is styling*/

label {
  display: block;
}

/*Admin table styles*/
table {
  width: 100%;
  background: #B5B5B5;
  border-collapse: collapse;
  margin: 0 auto;
}

.table-container {
  background-color: #FCFCFC
}

/*--------------SECTION----------------*/

section {
  width: 100%;
  background: white;
  border-bottom: 2px solid black;
  padding-left: 32px;
  padding-top: 10px;

}



/*-------------------------SIGNIN------------------------*/

.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;

}
.form-signin {
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin {
  margin-top: 84px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-color: #000;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: #000;
}
.form-signin-heading {
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}

.inputdemoIcons {
  /*
 .right-icon {
  position: absolute;
  top: 4px;
  right: 2px;
  left: auto;
  margin-top: 0;
 }
 */ }
.inputdemoIcons .inputIconDemo {
  min-height: 48px; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
  color: green; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
  color: dodgerblue; }
.inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
.inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
  color: red; }




/* Angular-material Overrides */
body {
  background: transparent!important;
}

.page-content-wrapper {

  width: 60%;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
}

#md-date-pane1,
#md-date-pane2,
#md-date-pane3,
#md-date-pane4,
#md-date-pane5,
#md-date-pane6,
#md-date-pane7,
#md-date-pane8,
#md-date-pane9,
#md-date-pane10,
#md-date-pane11,
#md-date-pane12,
#md-date-pane13,
#md-date-pane14,
#md-date-pane15,
#md-date-pane16,
#md-date-pane17,
#md-date-pane18,
#md-date-pane19,
#md-date-pane20,
#md-date-pane21,
#md-date-pane22,
#md-date-pane23,
#md-date-pane24,
#md-date-pane25,
#md-date-pane26,
#md-date-pane27,
#md-date-pane28,
#md-date-pane29,
#md-date-pane30,
#md-date-pane31,
#md-date-pane32,
#md-date-pane33,
#md-date-pane34,
#md-date-pane35,
#md-date-pane36,
#md-date-pane37,
#md-date-pane38,
#md-date-pane39,
#md-date-pane40,
#md-date-pane41,
#md-date-pane42,
#md-date-pane43,
#md-date-pane44,
#md-date-pane45,
#md-date-pane46,
#md-date-pane47,
#md-date-pane48,
#md-date-pane49,
#md-date-pane50,
#md-date-pane51,
#md-date-pane52,
#md-date-pane53,
#md-date-pane54,
#md-date-pane55,
#md-date-pane56,
#md-date-pane57,
#md-date-pane58,
#md-date-pane59,
#md-date-pane60,
#md-date-pane61,
#md-date-pane62,
#md-date-pane63,
#md-date-pane64,
#md-date-pane65,
#md-date-pane66,
#md-date-pane67,
#md-date-pane68,
#md-date-pane69,
#md-date-pane70,
#md-date-pane71,
#md-date-pane72,
#md-date-pane73,
#md-date-pane74,
#md-date-pane75,
#md-date-pane76,
#md-date-pane77,
#md-date-pane78,
#md-date-pane79,
#md-date-pane80,
#md-date-pane81,
#md-date-pane82,
#md-date-pane83,
#md-date-pane84,
#md-date-pane85,
#md-date-pane86,
#md-date-pane87,
#md-date-pane88,
#md-date-pane89,
#md-date-pane90,
#md-date-pane91,
#md-date-pane92,
#md-date-pane93,
#md-date-pane94,
#md-date-pane95,
#md-date-pane96,
#md-date-pane97,
#md-date-pane98,
#md-date-pane99,
#md-date-pane100,
#md-date-pane101,
#md-date-pane102,
#md-date-pane103,
#md-date-pane104,
#md-date-pane105,
#md-date-pane106,
#md-date-pane107,
#md-date-pane108,
#md-date-pane109,
#md-date-pane110,
#md-date-pane111,
#md-date-pane112,
#md-date-pane113,
#md-date-pane114,
#md-date-pane115,
#md-date-pane116,
#md-date-pane117,
#md-date-pane118,
#md-date-pane119,
#md-date-pane120,
#md-date-pane121,
#md-date-pane122,
#md-date-pane123,
#md-date-pane124,
#md-date-pane125,
#md-date-pane126,
#md-date-pane127,
#md-date-pane128,
#md-date-pane129,
#md-date-pane130,
#md-date-pane131,
#md-date-pane132,
#md-date-pane133,
#md-date-pane134,
#md-date-pane135,
#md-date-pane136,
#md-date-pane137,
#md-date-pane138,
#md-date-pane139,
#md-date-pane140,
#md-date-pane141,
#md-date-pane142,
#md-date-pane143,
#md-date-pane144,
#md-date-pane145,
#md-date-pane146,
#md-date-pane147,
#md-date-pane148,
#md-date-pane149,
#md-date-pane150,
#md-date-pane151,
#md-date-pane152,
#md-date-pane153,
#md-date-pane154,
#md-date-pane155,
#md-date-pane156,
#md-date-pane157,
#md-date-pane158,
#md-date-pane159,
#md-date-pane160,
#md-date-pane161,
#md-date-pane162,
#md-date-pane163,
#md-date-pane164,
#md-date-pane165,
#md-date-pane166,
#md-date-pane167,
#md-date-pane168,
#md-date-pane169,
#md-date-pane170,
#md-date-pane171,
#md-date-pane172,
#md-date-pane173,
#md-date-pane174,
#md-date-pane175,
#md-date-pane176,
#md-date-pane177,
#md-date-pane178,
#md-date-pane179,
#md-date-pane180,
#md-date-pane181,
#md-date-pane182,
#md-date-pane183,
#md-date-pane184,
#md-date-pane185,
#md-date-pane186,
#md-date-pane187,
#md-date-pane188,
#md-date-pane189,
#md-date-pane190,
#md-date-pane191,
#md-date-pane192,
#md-date-pane193,
#md-date-pane194,
#md-date-pane195,
#md-date-pane196,
#md-date-pane197,
#md-date-pane198,
#md-date-pane199,
#md-date-pane200
{
  width: 346px;
}


.case-tab {
  background-color: grey;
  width: 960px;
  margin-left: 157px;
}

.admin-table {
  width: 80%;
}

.btn1 {
  color: whitesmoke;
  background-color: #9F2226;
  margin: 9px 0 10px 5px;
  font-size: 22px;
  box-shadow: 0 0 4px 2px black;
}

/*-----------FORM---------------*/

.frm-wrapper  {
  width: 80%;
  margin: 0 auto;
}

/*-----------Appointment Wrapper----------*/

.appt-wrapper {
  width: 75%;
  color: grey;
  background-color: rgba(0,0,0,0.8);
  margin: 0 auto;
  padding: 15px;
  border: 1px solid white;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
}

/*--------Admin Caseworkers Wrapper---------------*/

.admin-case {
  width: 70%;
  margin: 0 auto;
}

/*------------CLIENT DETAIL WRAPPER----------------*/

.client-detail {
  width: 85%;
  margin: 0 auto;
  background-color: white;
  padding: 15px;
}
