<!-- This file is for testing purpouses, please add links to all pages in here -->

<div class="nav" class="row" ng-controller="NavCtrl">
    <div class="col-md-6 col-md-offset-3 text-center">
        <ul class="nav nav-pills nav-justified">
            <li><a href="/home">HOME</a></li>
            <li><a href="/form">FORM</a></li>
            <li><a href="/admin/appts">ADMIN APPTS</a></li>
            <li><a href="/admin/caseworkers">ADMIN CASEWORKS</a></li>
            <li><a href="/admin/clients">ADMIN CLIENTS</a></li>
            <li><a href="/admin/details">ADMIN CLIENT DETAILS</a></li>
        </ul>
    </div>
</div>
