<nav ng-include="'/views/templates/nav.html'"></nav>

<section class=" col-md-9 col-md-push-1">
  <div class="col-md-9 col-md-push-1" id="md-inline-form">
    <div layout="column" ng-cloak class="md-inline-form">
      <md-content layout-padding>
        <form name="userform">
          <div layout-gt-lg="row">
            <h3>New Caseworker</h3>
            <md-input-container class="md-block"><br><br>
              <label>First Name</label>
              <input ng-model="form.cwLastName" type="textbox">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Last Name</label>
              <input ng-model="form.cwLastName" type="textbox">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Caseworker Email</label>
              <input ng-model="form.cwEmail" type="email" required>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Caseworker Organization</label>
              <input ng-model="form.cwOrg" type="textbox">
            </md-input-container>
            <button ng-click="submit()">Submit</button>
          </div>
        </form>
      </md-content>
    </div>
  </div>
  <!--<h2>Welcome to the Admin Caseworkers Page</h2>-->
  <!--<form>-->
    <!--<h3>New Caseworker</h3>-->
    <!--<label>First Name</label>-->
    <!--<input ng-model="form.cwFirstName" type="textbox">-->
    <!--<label>Last Name</label>-->
    <!--<input ng-model="form.cwLastName" type="textbox">-->
    <!--<label>Caseworker Email</label>-->
    <!--<input ng-model="form.cwEmail" type="email" required>-->
    <!--<label>Caseworker Organization</label>-->
    <!--<input ng-model="form.cwOrg" type="textbox">-->
    <!--<button ng-click="submit()">Submit</button>-->
  <!--</form>-->

  <!--Smart table listing caseworkers goes here-->
  <div class="table">
    <div class="table-container">
      <br/>
      <table st-table="data" st-safe-src="rowCollection" class="admin-table">
        <thead>
        <!--Search bar-->
        <tr class="search-filter">
          <th class="search-filter" colspan="3">
            <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
        </tr>

        <tr>
          <th st-sort="">First Name</th>
          <th st-sort="">Last Name</th>
          <th st-sort="">Email</th>
          <th st-sort="">Orginazation</th>
        </tr>

        </thead>
        <tbody>
        <tr ng-repeat="caseworker in data">
          <td>{{caseworker.cwFirstName}}</td>
          <td>{{caseworker.cwLastName}}</td>
          <td>{{caseworker.cwEmail}}</td>
          <td>{{caseworker.cwOrg}}</td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>
</section>


<div class="col-md-9 col-md-push-1" id="md-inline-form">
  <div layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
      <form name="userform">
        <div layout-gt-sm="row">
          <h3>New Caseworker</h3>
          <md-input-container>
            <label>Last Name</label>
            <input ng-model="form.cwLastName" type="textbox">
          </md-input-container>
          <md-input-container>
            <label>Last Name</label>
            <input ng-model="form.cwLastName" type="textbox">
          </md-input-container>
          <md-input-container>
            <label>Caseworker Email</label>
            <input ng-model="form.cwEmail" type="email" required>
          </md-input-container>
          <md-input-container>
            <label>Caseworker Organization</label>
            <input ng-model="form.cwOrg" type="textbox">
          </md-input-container>
          <button ng-click="submit()">Submit</button>
        </div>
      </form>
    </md-content>
  </div>
</div>