<nav ng-include="'/views/templates/nav.html'"></nav>

<div>
  <h2>Welcome to the Admin Caseworkers Page</h2>
  <form>
    <label>New Caseworker: First Name
      <input ng-model="form.cwFirstName" type="textbox">
    </label>
    <label>Last Name:
      <input ng-model="form.cwLastName" type="textbox">
    </label>
    <label>Caseworker Email:
      <input ng-model="form.cwEmail" type="email">
    </label>
    <label>Caseworker Organization:
      <input ng-model="form.cwOrg" type="textbox">
    </label>
    <button ng-click="submit()">Submit</button>
  </form>
  <p>There is a link to the admin_clients.html page.</p>
  <p>There is a link to the admin_appts.html page.</p>
</div>
