<nav ng-include="'/views/templates/nav.html'"></nav>

<section>
  <h2>Appointments</h2>
  <h3>Create A New Time Slot</h3>
  <form>
    <label>Event Title
      <input type="text" ng-model="form.title">
    </label>
    <label>Date
      <input type="date" ng-model="form.date">
    </label>
    <label>Start Time
      <input type="time" ng-model="form.startTime">
    </label>
    <label>End Time
      <input type="time" ng-model="form.endTime">
    </label>
    <h4>Reacurring:</h4>
    <label>Often:</label>
    <select ng-model="form.recurrence">
      <option value="weekly">Weekly</option>
      <option value="biWeekly">Bi-Weekly</option>
    </select>
    <label>Until:</label>
      <input type="date" ng-model="form.dateRec">
    <button ng-click="submit()">Create Event</button>
  </form>

  <table st-table="displayCollection" class="table table-striped" >
    <thead>
    <tr>
      <th>Status</th>
      <th>Type</th>
      <th>Email</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Fill</td>
      <td>Fill</td>
      <td>Fill</td>
      <td>Fill</td>
      <td>Fill</td>
    </tr>
    </tbody>
  </table>
</section>
