<nav ng-include="'/views/templates/nav.html'"></nav>

<!--Client form-->
<div class="form">
    <h1>Client Referral Form</h1>
    <!--Do we still want the form worded in the perspective of a caseworker?-->
    <label>Thank you for using Dress for Success Twin Cities. Please fill out the form below so we can help your client
        get suited for their interview or job.</label>
    <form>
        <div class="client-info">
            <h4>Client Information</h4>
            <label>First Name
                <input type="text" ng-model="clientFirstName" placeholder="First Name">
            </label>
            <label>Last Name
                <input type="text" ng-model="clientLastName" placeholder="Last Name">
            </label>
            <h4>Client Address</h4>
            <label>Street line 1:
                <input type="text" ng-model="clientStreetL1" placeholder="Street line 1">
            </label>
            <label>Street line 2:
                <input type="text" ng-model="clientStreetL2" placeholder="Street line 2">
            </label>
            <label>City:
                <input type="text" ng-model="clientCity" placeholder="City">
            </label>
            <label>State:
                <select ng-model="clientState">
                    <option value="MN">Minnesota</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
            </label>
            <label>Zip:
                <input ng-model="clientZip" type="text" placeholder="Zip">
            </label>
            <label>Client Home Phone:
                <input ng-model="clientHomePh" type="tel">
            </label>
            <label>Cell Phone:
                <input ng-model="clientCellPh" type="tel" placeholder="Cell Phone">
            </label>
            <label>Email:
                <input ng-model="clientEmail" type="email" placeholder="Email">
            </label>
            <p>Alternate Client Contact. How else can we reach you?</p>
            <label>Contact Name
                <input ng-model="altContactName" type="text" placeholder="Contact Name">
            </label>
            <label>Phone Number:
                <input ng-model="altContactPh" type="tel">
            </label>
            <label>Relation to Client
                <input ng-model="altContactRel" type="text">
            </label>
        </div>
        <div class="suiting-info">
            <h4>Client Suiting Information</h4>
            <label>Age:
                <input ng-model="clientAge" type="number">
            </label>
            <label>Height:
                <input ng-model="clientHeight" type="text">
            </label>
            <label>Select your top size:
                <select ng-model="clientTopSize">
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>

                    <option value="2X">2X</option>

                    <option value="3X">3X</option>

                    <option value="4X-up">4X and up</option>
                </select>
            </label>
            <label>Select your bottom size:
                <select ng-model="clientBottomSize">
                    <option value="0">0</option>
                    <option value="2">2</option>
                    <option value="4">4</option>
                    <option value="6">6</option>
                    <option value="8">8</option>
                    <option value="10">10</option>

                    <option value="12">12</option>

                    <option value="14">14</option>

                    <option value="16">16</option>

                    <option value="18">18</option>

                    <option value="20">20</option>

                    <option value="22"> 22</option>

                    <option value="24"> 24</option>

                    <option value="26">26</option>
                    <option value="28">28</option>
                    <option value="3X">3X</option>
                    <option value="4X-up">4X and up</option>

                </select>
            </label>
            <p>Select your shoe size:</p>
            <label>
                <select ng-model="clientShoeSize">
                    <option value="5.5">5.5</option>
                    <option value="6">6</option>
                    <option value="6.5">6.5</option>
                    <option value="7">7</option>
                    <option value="7.5">7.5</option>
                    <option value="8">8</option>
                    <option value="8.5">8.5</option>
                    <option value="9">9</option>
                    <option value="9.5">9.5</option>
                    <option value="10">10</option>
                    <option value="10.5">10.5</option>
                    <option value="11">11</option>
                    <option value="11.5">11.5</option>
                    <option value="12">12</option>
                    <option value="12.5">12.5</option>
                    <option value="13">13</option>
                </select>
            </label>
            <br>
            <label>
            <textarea ng-model="clientRestrictions" rows="4" cols="50" name="clothing-restrictions"
                      placeholder="e.g. Unable to wear high-heels, must wear hijab..."></textarea>
            </label>
        </div>
        <div class="employment-info">
            <h4>Employment/Interview Information</h4>
            <label>First Interview Date
                <input ng-model="interviewStartDate" type="date" name="interview-date">
            </label>
            <p>OR</p>
            <label>Employment Start Date
                <input ng-model="employementStartDate" type="date" name="employment-start">
            </label>
            <label>Company
                <input ng-model="company" type="text" name="company-name">
            </label>
            <label>Job Title
                <input ng-model="jobTitle" type="text" name="job-title">
            </label>
        </div>

        <label>Does your client have any scheduling restrictions?
            <textarea rows="4" cols="50" name="schedule-restrictions"></textarea>
        </label>
        <br>
        <input type="submit">
    </form>
</div>
