<nav ng-include="'/views/templates/nav.html'"></nav>


<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">

  <form class="form-signin">
    <h1 class="form-signin-heading text-muted">Sign In</h1>
    <input type="text" class="form-control" ng-model="loginUser" placeholder="Username/Email address" required="" autofocus="">
    <input type="password" class="form-control" ng-model="loginPass" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" ng-click="submit()">
      Sign In
    </button>
  </form>

</div>


