<nav ng-include="'/views/templates/nav.html'"></nav>

<div class="container-fluid">
  <h2 class="text-center">Welcome to the Home Page</h2>
  <p class="text-center">This is the default view that people see when the come to the site.</p>
  <p class="text-center">There is an authenticated link to form.html for clients.</p>
  <p class="text-center">There is an authenticated link to form.html for caseworkers.</p>
  <p class="text-center">There is an authenticated link to admin_appt.html for the admin.</p>
</div>
