<nav ng-include="'/views/templates/nav.html'"></nav>
<section>
  <h3>Log In</h3>
    <form>
      <!--On submission, user should be routed to the appropriate page:
      Clients and caseworkers to the form.html, admin to admin_appt.html-->
      <label>Username/Email:
        <input type="text" ng-model="loginUser" placeholder="username/email">
      </label>
      <label>Password:
        <input type="password" ng-model="loginPass" placeholder="password">
      </label>
      <button ng-click="submit()">Submit</button>
    </form>
  <p>Don't have an account, or forgot your username/password? Contact us at 00101011@gmail.com
  for assistance</p>
</section>
